* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: arial, sans-serif;
    font-size: 14px;

}
div{
    background-color: #a2a0a0;
    display: table;
    margin: 0 auto;


}
table{
    border-collapse: collapse;
    margin: 30px;
    border: none;

}

td, th {
    text-align: left;
    padding: 12px;
    border: none;
}

tr:nth-child(odd) {
    background-color: #fff;
}

#js{
    position: relative;
}
